$text-primary: #eee;
$text-secondary: crimson;
$text-dark: #333;

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: $text-dark;
}

.bg {
  background-color: $text-primary;
}

ul {
  li {
    p {
      font-size: 1.3rem;
    }
  }

  .checked {
    color: #888;

    .text {
      text-decoration: line-through;
    }
    .span-text {
      color: lightcoral;
    }
  }
}

// Form styles
.delete {
  float: right;
  border: none;
  position: relative;
  color: $text-secondary;
  font-size: 1.3rem;
  cursor: pointer;
}

label {
  border-bottom: 1px solid $text-secondary;
}

.span-text {
  color: $text-secondary;
}
